.unActivity{
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    padding: 2rem;
}

.TitleAndDecri{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    align-self: center;
    font-size: 2vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #003366;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #003366;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.Toogle {
    position: absolute;
    right: 7vw;
}

details summary { 
    list-style-type: none; 
}

details summary::-webkit-details-marker { 
    display: none; 
}

details summary::marker { 
    display: none; 
}
 
 summary:after {
    content: "+";
    color: #003366;
    float: left;
    font-size: 2.5vh;
    font-weight: bold;
    margin: -5px 5px 0 0;
    padding: 0;
    text-align: center;
    width: 20px;
 }
 
 details[open] summary:after {
    content: "-";
 }

 @media screen and (min-width: 768px) and (max-width: 992px) {
    .TitleAndDecri{
        font-size: 1.5vh;
    }

    summary:after {
        font-size: 2vh;
    }
 }